<p class="message" align="left" *ngIf="isChanged" > Please refresh to reload list.<p>
<p class="message" align="left" *ngIf="quizCreated" > Quiz created !<p>

<p class="message" align="right"><a role="button" (click)="logout()"> Logout</a><p>
<div class="container">
  <div class="info">
    <h1>Create quiz</h1>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
  <form class="login-form">
      Quiz Title<br><br> <input [(ngModel)]="quiz.title" name="quiz-title" />
        <br><br>
      <b> Select questions to add to quiz. </b><br><br><br>
      <div *ngFor="let question of questions; index as i">

        <input type="radio"
        value="isCorrect"  name="correct-{{i}}"
        [ngModel]="questions[i]?.question"
        (ngModelChange)="getQuizQuestions(i)" value=true [checked]="false"/>
               <label> &nbsp; &nbsp;  Question {{i+1}} :</label>

               <br><br> <input [(ngModel)]="newQuestionContent"
               name="edit-question{{i}}"
               *ngIf="isEditEnable == i"/>
        <p *ngIf="isEditEnable != i" > <b>{{i+1}}. </b>{{question.questionContent}} </p>
        <br><p> Choices : </p>
            <div *ngFor="let choice of question.choices; index as j">
                <p> {{j+1}} - {{choice.choiceContent}} </p>
            </div>
            <p style="font-size:16px" class="message">
                <a role="button" (click)="delete(i, question.questionId)"> Delete </a>|
                <a role="button" (click)="update(i, question.questionId)"> Update </a><p>
        <br><br>
    </div>

    <button (click)="save()">Create quiz</button>
    <br><br><br>
    <button (click)="back()">Back</button>
  </form>
</div>

